<footer>
    <div class="footer-ele">
        <div class="social-media"> 
            <i class="ion-social-facebook-outline"></i>
            <i class="ion-social-twitter-outline"></i>
            <i class="ion-social-instagram-outline"></i>
        </div>
        
        <div>
        <p>copyright &copy; 2018 Alpacadamia.  All rights reserved.</p>
        </div>
    </div>
</footer>