<head>
    <link rel="stylesheet" type="text/css" href="vendors/css/semantic.css">
    <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
    <link rel="stylesheet" type="text/css" href="vendors/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i" rel="stylesheet">
    <title>alpacadamia</title>
</head>
<nav>
<div class="ui secondary pointing stackable menu"> 
 
    <a href="/" class="item">
    Home
  </a>
  <a href="/research" class="item">
    Research
  </a>
  <a href="/debates" class="item">
    Debate Motions
  </a>
  <a href="/quiz" class="item">
    Quiz
  </a>  
  <div class="right menu">
    <!-- <a href="/login" class="ui item">
      Login
    </a> -->
    <a href="/logout" class="ui item">
      Logout
    </a>
    <!-- <a href="/register" class="ui item">
      Signup
    </a> -->
  </div>

   
  </div>
</nav>
<body>
