<head>
    <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="vendors/css/Grid.css">
    <link rel="stylesheet" type="text/css" href="vendors/css/ionicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i" rel="stylesheet">
    <title>alpacadamia</title>
    
    

</head>

<body>
    <header>
        <nav>
            <div class="row">
                <!-- <img src="resources/img/logo.png" alt="logo" class="logo"> -->
                <ul class="main-nav">
                    <li><a href="#">mission</a></li>
                    <li><a href="#">contact</a></li>
                    <li><a href="#">about us</a></li>
                </ul>
            </div>
        </nav>
        <div class="hero">
            <h1><span class="brand">Alpacadamia</span><br>Understand Everything.</h1>
            <a class="btn btn-full" href="#">Research</a>
            <a class="btn btn-ghost" href="#">Lessons</a>
        </div>
        
    </header>
    
    <section class="mission">
        <div class="row">
            <div>
                <h2>Our Mission</h2>
           </div>
        <div class="row">
            <div class="col span-1-of-3 box">
                <i class="ion-ios-infinite big-icons equality"></i>
                <h3>Equality</h3>
                    <p>To provide equal access to high quality study materials for the World Scholars Cup to scholars in every country.</p>
            </div>
            <div class="col span-1-of-3 box">
                <i class="ion-android-wifi big-icons"></i>
                <h3>Access</h3>
                    <p>Giving scholars full 24 hour access a day to study materials and mentorship in any time zone.</p>
            </div>
            <div class="col span-1-of-3 box">
                <i class="ion-ios-body big-icons"></i>
                <h3>Leadership</h3>
                    <p>Mentorship for scholars preparing for local, regional, or global rounds of the World Scholars Cup. </p>
            </div>
            
    
        </div>
            
        </div>
    </section>
    
     <section class="profile">
        <div>
            <h2>About us</h2>
        </div>
        
            <div class="card">
                <img src="resources/img/Julie%20profile.png" alt="julie's profile">
                <p> Julie Schwartz - Content and research manager with SAT and ib test preperation experience. </p>
            </div>
            <div class="card">
                <img src="resources/img/brandon%20profile.png" alt="brandon's profile">
                <p> Brandon Pampuch - Debate Mentor with experience judging at local and regional events for World Scholars Cup.</p>
            </div>
            <div class="card">
                <img src="resources/img/john%20profile.png">
                <p> John Henson - Web developer and answerer of all questions technical.</p>
            </div>
      
    </section>
    <section class="contact">
        <div>
            <h2>Contact</h2>
        
        </div>
    
    
    </section>
    
    <footer>
    
    </footer>






</body>
