<% include partials/navbar %>
    <div class="ui container stackable">
  

<table class="ui celled table margin-table">
      <thead>
        <tr><th>Subject</th>
        <th>Value</th>
        <th>Policy</th>
      </tr></thead>
      <tbody>
        <tr>
          <td>Science</td>
          <td>Resoloved: HSAM is a super power </td>
          <td>Resolved: we should implant memories into children to change behaviors or hide trauma</td>
        </tr>
        <tr>
          <td>Social Studies</td>
          <td>Resolved: cryptocurrency harms the economy</td>
          <td>Resolved: people shopping at black markets shold be charged with crimes</td>
        </tr>
        <tr>
          <td>History</td>
          <td>Resolved: diplomats should never disagree with their countries leadership</td>
          <td>Resolved: diplomacy and conflict resolution classes should be taught in school.</td>
        </tr>
      </tbody>
      <tfoot>
     

      
     