<% include partials/navbar %>
    <div class="ui one column stackable center aligned page grid">
  

<table class="ui celled table margin-table ">
      <thead>
        <tr><th>Subject</th>
        <th>Value</th>
        <th>Policy</th>
      </tr></thead>
      <tbody>
        <tr>
          <td>Science</td>
          <td>Resoloved: HSAM is a super power </td>
          <td>Resolved: we should implant memories into children to change behaviors or hide trauma</td>
        </tr>
        <tr>
          <td>Social Studies</td>
          <td>Resolved: cryptocurrency harms the economy</td>
          <td>Resolved: people shopping at black markets shold be charged with crimes</td>
        </tr>
        <tr>
          <td>History</td>
          <td>Resolved: diplomats should never disagree with their countries leadership</td>
          <td>Resolved: diplomacy and conflict resolution classes should be taught in school.</td>
        </tr>
        <tr>
          <td>Special Area</td>
          <td>Resolved: family are the most important relationships in our lives</td>
          <td>Resolved: we should create artificial intelligent friends for the elderly </td>
        </tr>
        <tr>
          <td>Literature</td>
          <td>Resolved: only native speakers should translate works of literature into another language </td>
          <td>Resolved: children should be kept away from collaborative storytelling such as online role playings games</td>
        </tr>
        <tr>
          <td>Art & music</td>
          <td>Resolved: artists should not create works of art outside of their culture</td>
          <td>Resolved: we should create more works of art like the Memory Matrix/td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
</table>
</div>

      
     