<% include partials/navbar %>
    
<table style="width:80%">
        <tr>
          <th>subject</th>
          <th>value</th> 
          <th>policy</th>
        </tr>
        <tr>
          <td rowspan="2">Social Studies</td>
          <td>Resolved: cryptocurrency harms the economy</td>
          <td>Resolved: people shopping at black markets shold be charged with crimes</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          
        </tr>
        <tr>
          <td rowspan="2">History</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
            
            <td></td>
            <td></td>
              </tr>
      </table>
      
      </body>
      </html>