<% include partials/navbar %>
    <div class="ui container stackable">
  

<table class="ui celled table margin-table">
      <thead>
        <tr><th>Subject</th>
        <th>Value</th>
        <th>Policy</th>
      </tr></thead>
      <tbody>
        <tr>
          <td>science</td>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
        <tr>
          <td>Social Studies</td>
          <td>Resolved: cryptocurrency harms the economy</td>
          <td>Resolved: people shopping at black markets shold be charged with crimes</td>
        </tr>
        <tr>
          <td>History</td>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
      </tbody>
      <tfoot>
     

      
     