<% include partials/navbar %>


<div class="outline ui container">
        <h3>History : The History of Diplomacy</h3>
        <p></p>
  
  <a name="h4-introductory-questions"> </a><h4>Introductory Questions</h4>
  
  <ul><ul>
  <li>What is the purpose of diplomacy?</li>
  <li>How is diplomacy different than discussion? </li>
  <li>Does a diplomat always represent one party’s interests to another party? </li>
  <li>How did modern diplomatic protocols come about—and do these protocols do more to strengthen diplomacy or to limit it? </li>
  <li>When two countries sign a treaty, what guarantees it will be upheld? </li>
  <li>Is diplomacy inherently political? Are diplomats politicians? </li>
  <li>What is the difference between an ambassador and a diplomat? </li>
  <li>Does diplomacy need to look different in the 21st century? </li>
  <li>How do countries come to diplomatic agreements—and what happens when two nations cannot reach a diplomatic agreement? </li>
  <li>What problems has international diplomacy helped to solve in recent years – and what problems has it helped to create? </li>
  <li>Is it ever appropriate for a diplomat to express disagreement with his or her country’s leader? </li>
  <li>Should diplomats be granted special privileges when they are representing their nations abroad? </li>
  <li>Do businesses and other non-governmental institutions need diplomats—and if so, under what circumstances? How about revolutionary movements, or terrorist organizations? </li>
  </ul></ul>
  
  
  <a name="h4-origins-of-diplomacy"> </a><h4>Origins of Diplomacy</h4>
  <ul><ul>
  <li>Explore the origins of diplomacy in historical civilizations. How different was it than diplomacy today? </li>
  <li>Example civilizations to research: </li>
  <ul>
  <li>City-States of Ancient Greece | Han Dynasty China
  </li><li>Byzantine Empire | Renaissance Italy | Ancient India
  </li></ul>
  
  <p></p><li>Look into the evolution of modern diplomatic institutions, concluding (for now) with the Vienna Convention on Diplomatic Relations in 1961. Have the roles, responsibilities, and privileges of diplomats changed significantly over time? </li>
  </ul></ul>
  
  <a name="h4-you-scratch-my-back-the-instruments-of-diplomacy"> </a><h4>You Scratch My Back | The Instruments of Diplomacy</h4>
  
  <ul><ul>
  <li>Diplomatic Institutions</li>
  <ul>
  <li>embassy | consulate | mission | asylum
  </li><li>diplomatic immunity | diplomatic bags | rezidentura
  </li></ul>
  
  <p></p><li>Diplomatic Offices</li>
  
  <ul>
  <li>ambassador | envoy | minister | consul
  </li><li>secretary | counselor | charge d'affaire
  </li></ul>
  
  <p></p><li>Approaches to Diplomacy</li>
  
  <ul>
  <li>gunboat | coercive | preventive | appeasement
  </li><li>paradiplomacy | soft power | hard power
  </li><li>nuclear | counterinsurgency | public
  </li><li>dollar | cyber | zero-sum | third neighbor
  </li></ul>
  
  <p></p><li>Additional Terms to Know</li>
  
  <ul>
  <li>proxenos | paiza | plenipotentiary | peacekeeper
  </li><li>non-state actors | alliance | summit | embargo
  </li><li>persona non grata | extraterritoriality | sanctions
  </li><li>self-determination | polarity | realpolitik | ultimatum
  </li></ul>
  
  <p></p></ul></ul>
  
  <a name="h4-pen-to-paper-the-outcomes-of-diplomacy"> </a><h4>Pen to Paper | The Outcomes of Diplomacy</h4>
  
  <ul><ul>
  <li>Notable Pacts and Treaties (examples)</li>
  <ul>
  <li>Amarna letters | Treaty of Nerchinsk | Peace of Westphalia
  </li><li>Abuja Treaty | Treaty of Utrecht | Treaty of Versailles
  </li><li>Paris Peace Accords | Antarctic Treaty | Khitomer Accords
  </li><li>Treaty of Tordesillas | Paris Climate Agreement | Sugauli Treaty
  </li><li>Nuclear Non-Proliferation Treaty | Douglas Treaties
  </li></ul>
  
  <p></p><li>Institutions of Accord (examples) </li>
  
  <ul>
  <li>Congress of Vienna | Congress of Berlin | Conference of Ambassadors
  </li><li>League of Nations | United Nations | ASEAN | G20
  </li><li>NATO | OPEC | Arab League | Commonwealth of Nations
  </li><li>APEC | African Union | European Union
  </li></ul>
  
  <p></p></ul></ul>
  
  <a name="h4-off-in-paris-for-so-long-the-role-of-diplomats"> </a><h4>Off in Paris For So Long | The Role of Diplomats</h4>
  
  <ul><ul>
  <li>Famous Diplomats and Peacemakers (examples)</li>
  <ul>
  <li>Niccolo Machiavelli | Otto von Bismarck | Henry Kissinger
  </li><li>Eleanor Roosevelt | K. R. Narayanan | Thomas Jefferson
  </li><li>Kim Dae-jung | Oscar Arias | Zhou Enlai | Mikhail Gorbachev
  </li><li>Samantha Power | Ban Ki-Moon | Dag Hammarskjöld
  </li><li>U Thant | Ambassador Spock | Colin Powell | António Guterres
  </li></ul>
  
  <p></p><li>How were diplomats (and diplomacy) involved in… (examples)</li>
  
  <ul>
  <li>July Crisis | Cuban Missile Crisis | Fashoda Incident | Great Game
  </li><li>One China Policy | Middle East Qatari embargo | Zimmerman Telegram
  </li><li>South China Sea disputes | XYZ Affair | U-2 Incident | Christmas Truce
  </li><li>Pig and Potato War | the Falkland Islands | Partition of India
  </li></ul>
  
  <p></p></ul></ul>
  
  <a name="h4-selected-readings-and-speeches-examples"> </a><h4>Selected Readings and Speeches (Examples)</h4>
  
  <ul><ul>
  <li><a href="https://archive.org/details/practicediploma00whytgoog">The Practice of Diplomacy</a> ("The Art of Negotiation" to "Courage" p. 7-29) | Francois de Callieres</li>
  <li><a href="http://www.time.com/4637117/samantha-power-united-nations-russia-speech-transcript/">Remarks on Russia</a> | Samantha Power</li>
  <li><a href="http://www.germanhistorydocs.ghi-dc.org/sub_document.cfm?document_id=250">Blood and Iron</a> (excerpt) | Otto von Bismarck</li>
  <li><a href="https://www.ted.com/talks/carne_ross_an_independent_diplomat">An Independent Diplomat</a> | Carne Ross</li>
  <li><a href="https://web.archive.org/web/20161219051934/http://www.fogofpeace.com/about-3">The Fog of Peace</a> (excerpt) | Gabrielle Rifkind and Gianni Picco</li>
  </ul></ul> 
  
  <a name="h4-additional-cases-questions"> </a><h4>Additional Cases &amp; Questions</h4>
  
  <ul><ul>
  <li>Should schools teach be required to teach courses in diplomacy and conflict resolution?</li>
  <li>If you were a diplomat working on behalf of your school, where would you be sent and what would you be asked to do?</li>
  <li>In first inaugural address, American president Thomas Jefferson called for "honest friendship with all nations, entangling alliances with none" - a doctrine that guided the foreign policy of the United States for many years. Discuss with your team: what are entangling alliances, and is it good for nations to avoid them? To what degree does the United States follow this doctrine today? How about your own country? </li>
  <li>Want to try diplomacy firsthand? Try playing <a href="http://www.playdiplomacy.com/">this online version</a> of a famous diplomatic board game, one ostensibly beloved by figures such as John F. Kennedy and Henry Kissinger. What can we learn from it? </li>
  <li>How do different cultural expectations affect negotiations between countries? Consider the <a href="https://www.pon.harvard.edu/daily/international-negotiation-daily/learning-from-international-negotiations-the-chen-guangcheng-crisis/">case of Chen Guangcheng</a>, which required some tricky diplomacy between two countries with very different approaches to directness. </li>
  <li>To thrive in today’s economy, nations must participate in regional and global trade agreements. Research some of these agreements—including those that are <a href="https://www.brookings.edu/blog/unpacked/2017/09/19/us-nafta-renegotiations/">up for renegotiation</a>, and <a href="https://www.thebalance.com/what-is-the-doha-round-of-trade-talks-3306365">those that failed</a>. What is the difference between a bilateral and multilateral trade agreement, and why might one be more difficult to negotiate than the other? </li>
  <li>As you explore how nations attempt to influence one another, consider the difference between <a href="https://www.foreignaffairs.com/reviews/capsule-review/2004-05-01/soft-power-means-success-world-politics">"hard power" and "soft power"</a>. Under what circumstances would you recommend a nation employ one or the other, or are they always best used in tandem? Discuss with your team: do we have the equivalents of hard and soft power in our everyday interactions and entanglements?</li>
  <li>Amidst all of the bloodshed of World War I, there was <a href="http://time.com/3643889/christmas-truce-1914/">one Christmas day</a> when thousands of soldiers on either side temporarily banded together for the sake of festivity. Are there any lessons we can take from this brief moment of harmony to apply in diplomatic efforts today—and if so, are they also applicable to interpersonal situations?</li>
  <li>Sometimes, the little ball moves the big ball. Explore how <a href="http://www.history.com/news/ping-pong-diplomacy">"ping pong"</a> may have paved the way to improved relations (and, arguably, economic interdependence) between the United States and China. Discuss with your team: are there lessons to be learned from this case for other difficult international relationships in the world today?</li>
  <li>Consider <a href="https://en.wikipedia.org/wiki/File:Yalta_Conference_(Churchill,_Roosevelt,_Stalin)_(B%26W).jpg">this iconic image</a> of the Yalta Conference toward the end of World War II, then (after researching the details of the conference) discuss with your team: was this one of diplomacy's finest hours?</li>
  <li>Learn about the diplomatic maneuvering behind <a href="http://www.aljazeera.com/indepth/opinion/2015/07/iran-nuclear-deal-triumph-diplomacy-150726121334719.html">the signing of the Iran Nuclear Deal</a>. Is it indeed a triumph of diplomacy, and could similar arrangements be made with other nations?</li>
  <li>Consider the practice of <a href="http://www.bbc.com/news/science-environment-24161385">"panda diplomacy"</a> by the People's Republic of China. Discuss with your team: what makes panda diplomacy so effective, and do other countries use similar tactics? Is it fair to the pandas?</li>
  </ul></ul>
  
  <p></p>
  
        </div>