

<% include partials/libraries %>
    <header>
          
        <nav class="ui container">
            <div class="row">
                <!-- <img src="resources/img/logo.png" alt="logo" class="logo"> -->
                <ul class="main-nav">
                   
                </ul>
            </div>
        </nav>
        <div class="hero">
            <h1><span class="brand">WSC Notes</span><br></h1>
            <div class="add">
                <a class=" add ui inverted basic button" href="/login">Login</a>
            </div>
            <!-- <a class="btn btn-ghost" href="/register">Register</a> -->
        </div>
        
    </header>
    
</body>


<!-- <% include partials/footer %> -->