

<% include partials/navbar %>
    <header>
          
        <nav>
            <div class="row">
                <!-- <img src="resources/img/logo.png" alt="logo" class="logo"> -->
                <ul class="main-nav">
                   
                </ul>
            </div>
        </nav>
        <div class="hero">
            <h1><span class="brand">Alpacadamia</span><br>Understand Everything.</h1>
            <a class="btn btn-full" href="/research">Research</a>
            <a class="btn btn-ghost" href="/lessons">Lessons</a>
        </div>
        
    </header>
    
</body>


<!-- <% include partials/footer %> -->