<% include partials/navbar %>

<div class="download-center container">
    <div class="ui center aligned three column grid">
        <div class="row">
            <h1>Practice Quiz</h1>
        </div>
            
        
        <div class="row">
            
            <div class="column">
                    <button class="ui basic black button"><a href="/resources/quiz/SocialStudies.pdf" download>download</a></button>
                </div>
            <div class="column quiz-tag">
                <p> Social Studies</p>
            </div>
        </div>
        <div class="row">
            
            <div class="column">
                    <button class="ui basic black button"><a href="/public/resources/quiz/SocialStudies.pdf" download>download</a></button>
                </div>
            <div class="column quiz-tag">
                <p> Science</p>
            </div>
        </div>
        <div class="row">
            
            <div class="column">
                    <button class="ui basic black button"><a href="/public/resources/quiz/SocialStudies.pdf" download>download</a></button>
                </div>
            <div class="column quiz-tag">
                <p> History</p>
            </div>
        </div>
        <div class="row">
            
            <div class="column">
                    <button class="ui basic black button"><a href="/public/resources/quiz/SocialStudies.pdf" download>download</a></button>
                </div>
            <div class="column quiz-tag">
                <p> Special Area</p>
            </div>
        </div>
        <div class="row">
            
            <div class="column">
                    <button class="ui basic black button"><a href="/public/resources/quiz/SocialStudies.pdf" download>download</a></button>
                </div>
            <div class="column quiz-tag">
                <p> Literature</p>
            </div>
        </div>
        <div class="row">
            
            <div class="column">
                    <button class="ui basic black button"><a href="/public/resources/quiz/SocialStudies.pdf" download>download</a></button>
                </div>
            <div class="column quiz-tag">
                <p> Art & Music</p>
            </div>
        </div>
        
        
    </div>  
</div>
  



