<% include partials/navbar %>

<div class="download-center container">
    <div class="ui center aligned three column grid">
        <div class="row">
            <div class="column">
                <button class="ui basic black button"><a href="/resources/quiz/TEST.pdf" download></a>download</button>
            </div>
            <div class="column">
                    <button class="ui basic black button"><a href="/resources/quiz/TEST.pdf" download></a>download</button>
                </div>
            <div class="column quiz-tag">
                <p> Social Studies Quiz</p>
            </div>
        </div>
        
    </div>  
</div>
  



