<% include partials/navbar %>

<h1>register page</h1>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="Please enter valid email">
    <input type="password" name="password" placeholder="Please creaet passowrd">
    <button>sign up</button>
</form>