<% include partials/navbar %>



<ul>
        <li><a href="/specialarea">Special Area : Human Relationships</a></li>
        <li><a href="#">History : The History of Diplomacy</a></li>
        <li><a href="#">Art &amp; Music : Braving the Distance</a></li>
        <li><a href="#">Science : The Science of Memory</a></li>
        <li><a href="#">Social Studies : Black Markets</a></li>
        <li><a href="#">Literature : Voices of the Inseperabel</a></li>
</ul>