<% include partials/navbar %>



    <div class="ui one column stackable center aligned page grid">
     
            
            
            
                <div class="login-top">
                    <h3>Subject notes </h3>
                    <div class="login-top">
                        <p><a href="/specialarea"><strong>Special Area</strong> : Human Relationships</a></p>
                        <p><a href="/history"><strong>History</strong> : The History of Diplomacy</a></p>
                        <p><a href="#"><strong>Art &amp; Music</strong> : Braving the Distance</a></p>
                        <p><a href="/science"><strong>Science</strong> : The Science of Memory</a></p>
                        <p><a href="/socialstudies"><strong>Social Studies</strong> : Black Markets</a></p>
                        <p><a href="#"><strong>Literature</strong> : Voices of the Inseperable</a></p></div>
                    </div>
                
       
    </div>


