<% include partials/navbar %>



<div class="container">
    <div class="ui three column grid">
        <div class="subjects row">
            
            <div class="column"></div>
            <div class="column">
                <h4 class="subjects-header">Subjects 2018</h4>
                <ul>
                    <li><a href="/specialarea">Special Area : Human Relationships</a></li>
                    <li><a href="/history">History : The History of Diplomacy</a></li>
                    <li><a href="#">Art &amp; Music : Braving the Distance</a></li>
                    <li><a href="/science">Science : The Science of Memory</a></li>
                    <li><a href="/socialstudies">Social Studies : Black Markets</a></li>
                    <li><a href="#">Literature : Voices of the Inseperabel</a></li>
                </ul>
           </div>
            <div class="column"></div>
        </div>
        </div>
    </div>


