<% include partials/navbar %>



<div class="outline ui container">

        <h3>Science : The Science of Memmory</h3>
    <p></p>

<a name="h4-introductory-questions"> </a><h4>Introductory Questions</h4>

<ul><ul>
<li>How do we store and retrieve memories?
</li><li>How do our memories and experiences shape who are are?
</li><li>What makes certain memories “stick” more than others?
</li><li>How does memory relate to attachment—such as to other people, or even to inanimate objects, such as stuffed alpacas?
</li><li>Are our memories always reliable? If not, when can they become unreliable?
</li><li>Can our memories lead to distortions of judgment?
</li><li>Can we influence the way people remember us?
</li><li>Even without the help of technology, can we choose to edit our own memories – if so, how?
</li><li>How reliable is your memory? What steps can you take to make it more reliable?
</li><li>What is the evolutionary value of memory? Does answering this question suggest anything about what memories we might be most likely to hold onto?
</li></ul></ul>

<a name="h4-understanding-memory"> </a><h4>Understanding Memory</h4>

<ul><ul>
<li>The Basics of Memory
<ul>
  <li>What are the biological processes behind memory storage and retrieval?
  </li><li>What types of memory are there?
  </li><li>How do memories affect the way we view the world?
  </li><li>Why is memory considered an active reconstructive process?
</li></ul>

<p></p></li><li>The Biology of Memory
<ul>
  <li>hippocampus | amygdala | cerebellum | acetylcholine
  </li><li>localization of function | neuroplasticity | neurons | nervous system
</li></ul>
</li><li>An Introduction to Schemas
<ul>
  <li>What is schema theory?
  </li><li>How do schemas help structure our memories?
  </li><li>What functions do schemas perform – are they necessary?
  </li><li>Are schemas always reliable, or can they lead to distortions? If the latter, when are distortions most likely?
  </li><li>Studies and Researchers to Explore (Examples)
    <ul>
      <li>J. Piaget | F. Bartlett | E.F. Loftus &amp;  J.C. Palmer
      </li><li>War of Ghosts | Car Crash Study | Weapons Effect
    </li></ul>
</li></ul>
</li><li>Types of Memory
<ul>
  <li>long-term vs. short-term | explicit vs. implicit
  </li><li>declarative vs. procedural | semantic vs. episodic
  </li><li>eidetic | hyperthymesic | reconstructive
  </li><li>muscle | collective | genetic
</li></ul>
</li><li>Flashbulb Memory
<ul>
  <li>What are flashbulb memories? How are they formed, and what differentiates them from other memories?
  </li><li>Why do we remember some memories more vividly than others?
  </li><li>Does rehearsing a memory make it more likely to be reliable?
  </li><li>Are we more likely to forget memories that we don’t share out loud with friends?
  </li><li>Why are some cultures more likely to forget events as a whole?
  </li><li>Terms and Researchers to Explore (Examples)
    <ul>
      <li>overt vs. covert rehearsal | individualistic vs. collectivistic | emotional arousal
      </li><li>Neisser &amp; Harsch | Brown &amp; Kulik | Wang &amp; Aydin
    </li></ul>
</li></ul>
</li><li>Memory Aids to Explore (examples)
<ul>
  <li>elaborative encoding | spaced retrieval | mnemonics | mind palace
  </li><li>Simonides | Giordano Bruno | nootropics | transcranial magnetic stimulation
</li></ul>
</li><li>Additional Terms to Know
<ul>
  <li>chunking | priming | interference | memory inhibition
  </li><li>Working Memory Model | Multi-Store Model | Levels of Processing
  </li><li>humor effect | generation effect | positivity effect
</li></ul>
</li></ul></ul>

<a name="h4-when-memory-goes-awry"> </a><h4>When Memory Goes Awry</h4>

<ul><ul>
<li>What Memory?
<ul>
  <li>Would it ever be ethical to change or remove someone else’s memories?
  </li><li>Is there any way to know for sure whether our memories are accurate?
  </li><li>How accurate is eyewitness testimony? Can it be misleading, and can it be improved?
  </li><li>Do people from different cultures and societies remember the same things differently in predictable ways?
  </li><li>To what extent can we trust decisions made by those without sound memory?
</li></ul>

<p></p></li><li>On the Tip of the Tongue
<ul>
  <li>decay theory | motivated forgetting | gaslighting
  </li><li>amnesia | TBI | blackouts | nostalgia
  </li><li>Alzheimer’s | dementia | Korsakoff’s syndrome
  </li><li>flashback | PTSD | dissociation
</li></ul>
</li><li>Biases and Fallacies
<ul>
  <li>Seven Sins of Memory | self-serving bias | rosy retrospection
  </li><li>confabulation | repression | memory implantation | the memory wars
  </li><li>memory conformity | telescoping effect | recall bias
</li></ul>
</li></ul></ul>

<a name="h4-technologies-of-remembrance"> </a><h4>Technologies of Remembrance</h4>

<ul><ul>
<li>Can technologies help us to remember things?
</li><li>Can they help us to forget them?
</li><li>Elements of Memory in a Digital Age to Explore (Examples)
<ul>
  <li>Jacquard loom | punch card | stored-program computer | drum memory
  </li><li>digitization | caching | crawler | metadata | emulation | RAM
  </li><li>abandonware | digital dark age | obsolescence | link rot
  </li><li>vinyl | GeoCities | Timehop | The Wayback Machine
</li></ul>

<p></p></li><li>Memory Development to Explore (Examples)
<ul>
  <li><a href="https://www.darpa.mil/program/restoring-active-memory">Restoring Active Memory</a>
  </li><li><a href="https://www.technologyreview.com/s/411352/new-ways-to-boost-memory/">HDAC inhibition</a>
  </li><li><a href="https://futurism.com/scientists-use-light-alter-memories-mice/">Optogenetics</a>
  </li><li><a href="https://www.technologyreview.com/s/513681/memory-implants/">Neuroprosthetic implants</a>
  </li><li><a href="https://www.smithsonianmag.com/innovation/meet-two-scientists-who-implanted-false-memory-mouse-180953045/">Creating false memories</a>
  </li><li><a href="http://phenomena.nationalgeographic.com/2013/05/20/when-memories-are-remembered-they-can-be-rewritten/">Rewriting existing memories</a>
</li></ul>
</li></ul></ul>

<a name="h4-additional-questions-and-cases"> </a><h4>Additional Questions and Cases</h4>

<ul><ul>
<li>Consider <a href="https://www.psychologytoday.com/blog/am-i-right/201302/the-power-first-impressions">the power of first impressions</a> as you plan your outfit for your next debate. Why are they so impactful, and should they be? What does it take to change an impression?
</li><li>Consider the case of <a href="https://www.npr.org/sections/health-shots/2013/12/18/255285479/when-memories-never-fade-the-past-can-poison-the-present">highly superior autobiographical memory</a>, a condition in which people are unable to forget even the most mundane details of their daily lives. Is the perspective in this article too critical? Is it always better to have a better memory, or is it better to selectively (or un-selectively) forget?
</li><li>Oxford professor Dr. Viktor Mayer-Schonberger argues that the Internet has made it more difficult for us to leave behind memories—that “the digital realm remembers what is sometimes better forgotten”. Read <a href="https://www.theguardian.com/technology/2011/jun/30/remember-delete-forget-digital-age">this review</a> of his work and discuss with your team: how important is it that we be able to erase our pasts? Is there an upside to memories being harder to forget?
</li><li>Watch <a href="https://www.ted.com/talks/elizabeth_loftus_the_fiction_of_memory">this TED talk</a> about memory manipulation by one of the world’s foremost psychologists, and consider: how trustworthy is your memory? How much weight should memory hold for determining facts?
</li><li>Imagine that you were walking through a mall and happened to hear a song you loved as a child. Music is extremely powerful as a summoner of <a href="https://www.psychologytoday.com/blog/the-athletes-way/201312/why-do-the-songs-your-past-evoke-such-vivid-memories">past memories</a> because of its emotional connectivity. Are there any songs that would have such an effect on you? Can any other types of stimuli (perhaps based on other senses) also elicit such vivid memories?
</li><li>How different would we be—as people and as societies—if memory were not an active reconstructive process?
</li><li>Various media can be used to connect you with others in the future, or even to a future version of yourself—from diaries and blogs to tombstones and eulogies. If you were to create them, what would you include in them?
</li><li>The word “nostalgia” comes from the Greek words for “home” and “pain”, meaning a painful longing for home. In many cases, this home is imagined or idealized, representing a time and place that never existed in the first place. Discuss with your team: is nostalgia healthy for individuals? How about for cultures and societies? Then, consider <a href="https://www.theguardian.com/books/2017/feb/25/mohsin-hamid-danger-nostalgia-brighter-future">this warning</a> by novelist Mohsin Hamid. Is it justified?
</li><li>Deep in the Amazon live the Piraha, a culture that does not venerate or remember its ancestors and whose language, <a href="http://www.spiegel.de/international/spiegel/brazil-s-piraha-tribe-living-without-numbers-or-time-a-414291.html">many linguists claim</a>, may have little or no way to talk about the future or the past. What does such a culture look like without ancestral memory, or the ability to talk about the past?
</li><li>History depends on archives: records that allow us to tell the story of the past. How will future generations tell the story of the 21st century if all our duck-face selfies vanished? What does its archive look like? Compare the United States’ national museum (<a href="https://www.si.edu/content/gwc/BestofBothWorldsSmithsonian.pdf">Chapter 7</a>)’s digital journey to perhaps the most well-known <a href="https://techcrunch.com/2013/07/27/snapchat-and-the-beauty-of-ephemeral-photography-and-fleeting-creativity/">medium of digital ephemera</a>, Snapchat.
</li><li>Time capsules, such as the <a href="https://www.damninteresting.com/the-crypt-of-civilization/">Crypt of Civilization</a>, can allow the past to “communicate” with the future. What do the contents of time capsules tell us about how past generations wanted to be remembered? What would you put in a time capsule if you were to make one?
</li><li>Consider this article about how World War II is taught in different European countries (<a href="https://web.archive.org/web/20170805122403/http://one-europe.net/how-wwii-is-taught-in-european-countries-part-1">Part 1</a> | <a href="https://web.archive.org/web/20170805112452/http://one-europe.net:80/how-wwii-is-taught-in-different-european-countries-part-2">Part 2</a>). How does education reshape our collective memory? Does the way you learn about something significantly influence the way you remember it, and if so, what does that say about our understanding of supposedly unchangeable historical events?
</li><li>On the other hand, some societies have chosen <a href="https://pictorial.jezebel.com/the-long-history-of-damnatio-memoriae-and-the-destructi-1797860410">not to remember</a>. Consider the implications of a damnatio memoriae. Are there some memories, personal or social, that are best forgotten?
</li><li>Why do we preserve notable historic artifacts and sites? Consider a monument or memorial familiar to you. How does it connect to individual or collective memories?
</li></ul></ul>

<p></p>

    </div>