<% include partials/navbar %>

<div class="heading">
    
</div>
<div class="outline" ui container>
        <h3>Social Studies : Black Markets</h3>
    <p></p>

<a name="h4-introducing-markets"> </a><h4>Introducing Markets</h4>

<ul><ul>
<li>Essential Questions
<ul>
  <li>Do all markets function the same way around the world?
  </li><li>What (or who) determines the prices of goods and services?
  </li><li>What is money – and where do the different types of money derive their value?
  </li><li>To what degree can governments control prices or quantities of goods and services exchanged?
</li></ul>

<p></p></li><li>Key Terms to Learn
<ul>
  <li>supply | demand | deadweight loss | regulation
  </li><li>perfect competition | imperfect competition | monopoly
  </li><li>taxes | tariffs | embargoes | sanctions | arbitrage
  </li><li>bazaar | souk | exchange | swap meets | boot sales
  </li><li>stock market | futures market | trade agreement
  </li><li>laissez-faire | optimal functionality
</li></ul>
</li></ul></ul>

<a name="h4-contracts-formalizing-exchanges"> </a><h4>Contracts: Formalizing Exchanges</h4>

<ul><ul>
<li>Essential Questions
<ul>
  <li>Where do contracts derive their authority?
  </li><li>How do contracts vary between countries?
  </li><li>Do all contracts imply a transaction of some sort?
  </li><li>How are contracts negotiated? Be sure to explore the basics of negotiation.
  </li><li>Does every contract have an offer and acceptance? If so, does an offer need to be explicitly accepted for the contract to be binding?
  </li><li>Are offers on the market contractual obligations?
</li></ul>

<p></p></li><li>Key Terms to Research (Examples)
<ul>
  <li>formation | offer | acceptance | agreement
  </li><li>rights | liabilities | breach | estoppel
  </li><li>duty of care | condition | consideration | capacity
  </li><li>terms (implied vs. express) | misrepresentation | duress
  </li><li>collateral | quid pro quo | caveat emptor | force majeure
  </li><li>smart contracts | oral contract | written contract | adhesion
  </li><li>legal regulation | statutory regulation | formalities | remedies
  </li><li>freedom of contract | sanctity of contract | reasonableness | negligence
</li></ul>
</li></ul></ul>

<a name="h4-black-markets"> </a><h4>Black Markets</h4>

<ul><ul>
<li>Essential Questions
<ul>
  <li>What makes black markets necessary?
  </li><li>What distinguishes a black market from other kinds of markets—do they function differently?
  </li><li>Are black markets better suited for the offline or online worlds?
  </li><li>What kinds of goods and services are traded on black markets?
  </li><li>Is there a difference between a black market and an informal market?
  </li><li>Do governments benefit more from eliminating black markets or from regulating them?
  </li><li>Is the new popularity of cryptocurrencies in part of a function of their usefulness on the black market?
  </li><li>Does the term ‘black market’ refer to a specific marketplace in any given country, or can there be many black markets even in the same place?
  </li><li>Are there contracts in the black market? If so, are they legally enforceable, and who should be responsible for enforcing them?
  </li><li>Does anyone regulate black markets?
  </li><li>Are there any countries in which black markets are formally endorsed by the authorities?
</li></ul>

<p></p></li><li>Key Terms to Learn (Examples)
<ul>
  <li>underground economy | shadow economy | informal economy | unreported economy
  </li><li>black market | grey market | white market
  </li><li>import cycle | fluid supply | compounding crime | commission-free
  </li><li>counterfeiting | smuggling | black money | money laundering
  </li><li>price ceilings | market failure | underground | contraband
</li></ul>
</li><li>Black Markets to Explore (Examples)
<ul>
  <li>Organs | Gold | Art | Endangered Animals
  </li><li>Oil | Cigarettes | Slave Trade | Housing
  </li><li>Currency | Weapons | Medicine
  </li><li>Silk Road 1.0 – 3.1 | Darknet | Acropolis
</li></ul>
</li></ul></ul>

<a name="h4-cryptocurrency"> </a><h4>Cryptocurrency</h4>

<ul><ul>
<li>Introductory Questions to Answer
<ul>
  <li>What is a cryptocurrency, and can a cryptocurrency be considered a form of money?
  </li><li>What does it mean for a currency to be decentralized and unregulated?
  </li><li>Who controls cryptocurrencies?
  </li><li>Why are people skeptical of cryptocurrencies?
  </li><li>What makes one cryptocurrency different to another?
  </li><li>Why is Bitcoin so volatile? What determines its value?
  </li><li>What kinds of transactions would a cryptocurrency make possible (or easier) that a normal currency might not?
  </li><li>Could goods be valued in cryptocurrencies?
  </li><li>Do cryptocurrencies weaken governments?
</li></ul>

<p></p></li><li>Key Terms to Explore (Examples)
<ul>
  <li>medium of exchange | store of value | unit of account
  </li><li>blockchain ledger | decentralized | mining
  </li><li>hard forks | soft forks | wallets | private keys | volatility
</li></ul>
</li><li>Example Cryptocurrencies to Research
<ul>
  <li>Bitcoin | Bitcoin Cash | Ethereum | Ripple | Stellar | Dogecoin
</li></ul>
</li></ul></ul>

<a name="h4-questions-for-further-exploration"> </a><h4>Questions for Further Exploration</h4>

<ul><ul>
<li>Is it too easy to create a cryptocurrency? Consider the <a href="http://uk.businessinsider.com/dogecoin-cryptocurrency-has-market-cap-above-2-billion-2018-1?r=US&amp;IR=T">case of doge</a>, a cryptocurrency originally intended as a joke. Does its success point at any problems with the market for cyptocurrencies more broadly?
</li><li>Consider the recent emergence of a <a href="http://www.telegraph.co.uk/news/2016/11/08/meet-the-bachaqueros-the-venezuelans-turning-to-the-black-market/">widespread black market in Venezuela</a>. Discuss with your team: should consumers be punished for participating in such markets? What drives their popularity?
</li><li>Learn about <a href="https://www.huffingtonpost.com/2011/07/05/cubas-black-market-thrives_n_890307.html">the effort in Cuba</a> to normalize elements of its widespread black markets—including granting self-employed individuals official licenses to sell pirated movies. What is motivating the government to try to regulate its black market rather than to outlaw it?
</li><li>In cities and countries where Uber operates (or has operated) without official permission, can it be seen as a black market service?
</li><li>Consider the emergence of cryptocurrency mining as an entrepreneurial opportunity in the developing world, including for <a href="http://edition.cnn.com/2017/12/18/africa/inside-life-cryptocurrency-miner-kenya-africa/index.html">this individual in Nairobi</a>. Discuss with your team: could cryptocurrency help level the global playing field? Or is it wishful thinking to imagine it could provide sufficient opportunities to help lift people out of poverty around the world?
</li><li>In what ways is the <a href="https://www.theguardian.com/money/2016/jul/09/grey-goods-real-deal-imported-sold-unofficially-consumers">“grey market”</a> like and unlike a traditional black market? Do different factors motivate their creation? Discuss with your team: would you be willing to buy something on the gray market that you would not be willing to buy on the black market?
</li><li>Move over, Bitcoin: more and more nations are announcing their own cryptocurrencies, including Kazakhstan (the CryptoTenge) and Venezuela (the Petro). Discuss with your team: can so many cryptocurrencies successfully coexist, and why might nations want to have their own?
</li><li>Discuss with your team: is a contract the best way to form a binding agreement between two parties? If you were to sign a contract with your parents, what would it look like? How about with your teammates?
</li><li>Read Chapter 2 of <a href="https://www.scribd.com/document/253645291/The-Art-Of-The-Deal-pdf">this book</a> on deal-making by a well-known American political celebrity, then discuss with your team: does this chapter contain good advice? With what aspects of it, if any, do you disagree? Be sure to share with your teammates the last time you were involved in making a deal of your own, even on a very small scale; would you have approached it any differently after reading this chapter?
</li><li>As of 2016, pangolins were <a href="http://www.latimes.com/world/global-development/la-fg-global-pangolins-vanishing-snap-story.html">the most illegally trafficked animal in the world</a>. Learn about the pangolin’s situation, then research other illegally trafficked animals. What do they have in common, and who, if anyone, should be responsible for protecting them?
</li><li>Read about the <a href="http://www.slate.com/blogs/future_tense/2017/12/29/bitcoin_exchange_manager_reportedly_kidnapped_in_ukraine.html">kidnapping</a> of Bitcoin exchange manager Pavel Lerner. What motivated his kidnapping, and how was he freed? Are cryptocurrencies and criminal behavior too closely linked for cryptocurrencies ever to become a safe medium of exchange?
</li><li>Look into the emergence of Bitcoin ATMs around the world—do they make sense for an online currency? Why might stores and <a href="https://www.morningadvertiser.co.uk/Article/2017/12/15/Should-your-pub-install-a-Bitcoin-ATM">restaurants</a> be motivated to install Bitcoin ATMs, and do these reasons make sense—or are they just part of a passing craze?
</li><li>Satoshi Nakamoto wrote the original “white paper” that helped launch Bitcoin and the entire cryptocurrency movement—but <a href="https://www.thesun.co.uk/news/5037060/satoshi-nakamoto-bitcoin-inventor-worlds-richest/">no one knows who Satoshi Nakamoto really was</a>. Discuss with your team: why might this individual want to remain unknown, and how important is it that we determine who he was?
</li><li>Some products on the black market might surprise you—for instance, the underground trade in <a href="http://www.news.com.au/lifestyle/health/the-product-bizarrely-being-sold-on-the-black-market/news-story/b4c1f76722a17b2fd5f86705284b1490">manuka honey</a>. What drives its presence in the black market, and what other unusual goods can you think of that might be similarly valued or illegally exchanged?
</li><li>Investigate the impact of cryptocurrencies on <a href="">Japan’s GDP</a>. Should other countries learn something from the example of Japan? Is national revenue generated through cryptocurrencies as legitimate as that generated through more traditional means of exchange?
</li><li>Would “Torrenting” copyrighted movies or television shows be considered a black market activity, or does money need to be exchanged in a transaction for it to be counted as such?
</li><li>Does the creation of special economic zones—most famously, cities such as Shenzhen in China, though the practice is now common around the world—facilitate black market activity? Or do they diminish it?
</li><li>Interwoven black markets are markets for counterfeit goods—whether Rolex watches or, <a href="https://munchies.vice.com/en_us/article/vvx9yy/ukraine-is-in-crisis-but-you-can-still-get-knockoff-mcdonalds-at-kievs-worst-restaurant">in Kiev, Big Macs</a>. Discuss with your team: would you be willing to buy counterfeit goods that are as good as the original? What if they are not as good, but much cheaper? Be sure to research what goods are most commonly counterfeited in the global marketplace.
</li><li>Consider the Silk Road—not the trade route which once linked Europe and Asia, but an <a href="https://www.wired.com/2016/01/the-silk-roads-dark-web-dream-is-dead/">online marketplace</a> for black market transactions that went through several incarnations and spawned multiple imitators and descendants. Discuss with your team: are such marketplaces inevitable? Do they pose a lasting challenge to government control of economic transactions? If you had to design your own online black market, what it would look like?
</li></ul></ul>

<p></p>

    </div>