<% include partials/navbar %>

<div class="heading">
    
</div>
<div class="outline ui container">
        <h3>Special Area : Human Relationships</h3>
    <!-- <p></p> -->
      
      <a name="h4-introductory-questions"> </a><h4>Introductory Questions</h4>

      
      <ul><ul>
        <li>Aristotle once wrote, “Man is by nature a social animal.” What do you think he meant?
            <p> “Man is by nature a social animal; an individual who is unsocial naturally and not accidentally is either beneath our notice or more than human. Society is something that precedes the individual. Anyone who either cannot lead the common life or is so self-sufficient as not to need to, and therefore does not partake of society, is either a beast or a god. ”
            </p>
        </li><li>Why do you think we form relationships with other people?
            <p><a href="https://behumanproject.net/why-are-we-tribal/">One major reason is survival.</a> Humans are tribal creatures like monkyes and goats.  They rely on each other for protection</p>
        </li><li>What makes some relationships more lasting or more meaningful than others?
            <p>There are a lot of answers to this question.<a href="ahttps://www.huffingtonpost.com/yourtango/12-commandments-of-happy-relationships_b_8222190.html"> Here are 12.</a> Things like honesty, trust and understanding.</p>
        </li><li>Are some people more social than others? If so, why do you think this is?
            <p>"Yes. The main differences between extraverts and introverts are that extraverts are less susceptible to fear than introverts. They simply seem to have a lesser innate ability to learn to anticipate negative events such as  frustrating, painful or frightening events." See the full article<a href="http://reflectd.co/2013/03/21/why-are-some-people-more-social-than-others-the-difference-between-introverts-and-extraverts/"> here</a></p>
        </li><li>Friendship comes with benefits; does it also come with costs?
            <p>All frienships have a money <a href="https://www.paymentsense.co.uk/blog/the-true-cost-of-friendship-infographic-survey/">cost</a>.  However, I suppose there are good and bad friendships. Good ones support us and take away little in return. Bad ones suck our energy. <a href="http://thrivebradford.org.uk/friends-and-relationships/friends-good-and-bad.html">Here</a> is a list of qualities found in these costly friends.</p>
        </li><li>For many people, the most important human relationships are those they form with their families. Are family relationships similar all over the world, or do they vary meaningfully by culture? And, is it always better to be close to your family?
            <p>Yes they are very different.  Read about <a href="http://worldfamilymap.ifstudies.org/2015/articles/world-family-indicators/family-culture">worldwide trends</a> in opinions toward issues such as single motherhood, working mothers and familty trust.</p>
        </li><li>Is there anyone with whom you thought you’d never become friends, but to whom you are now close? Conversely, is there anyone with whom you thought you’d be friends forever, but from whom you have since grown apart?
            <p>This is a bit of a peronsal questions.  However, if <a href="http://www.cracked.com/article_22710_5-sworn-enemies-who-formed-inspiring-friendships.html">these five </a>can forgive each other so can you.</p>
        </li><li>Are your friends mostly IRL, or do many of them live on the internet? How are relationships different across different mediums of communication and interaction?
      </li></ul></ul>
      
      <a name="h4-hoops-of-steel-understanding-friendship"> </a><h4>Hoops of Steel | Understanding Friendship</h4>
      
      <ul><ul>
      <li class="sectionhead">Essential Questions
        <ul>
          <li>Is proximity the most important force in starting friendships?
            <p><a target="blank_" href="https://science.rpi.edu/computer-science/news/social-media-study-shows-proximity-strongest-predictor-friendship">This article</a>This article suggests proximity is an important factor in the likliness of making friends.  However, have similarities is probably the most important.</p>
          </li><li>Do we like our friends because of who they are—or because <a href="https://www.psychologytoday.com/articles/200611/friendship-the-laws-attraction">they like who we are</a>?
            <p>This article suggests that we are close to people who reinforce a social identity we prefer, "there's another component to best friendship that may trump even intimacy: social-identity support, the way in which a friend understands, and then supports, our sense of self in society or the group. If we view ourselves as a mother first and a belly dancer only on Saturday mornings at the local dance studio, our best friend is likely to be another mom because she supports our primary social-identity (as opposed to our personal identity as, say, someone who loves film noir or comes from the Bronx). Our social-identity might relate to our religion, our ethnic group, our social role, or even membership in a special club."</p>
          </li><li>Why do some people choose to have fewer friends?
            <p><a target="_blank" href="https://qz.com/515255/why-were-better-off-with-fewer-friends/">This artile </a> explains, "The growth in the number of our friends has actually been accompanied with an increase in social isolation.</p>
          </li><li>What is the greatest number of friends a person can have?
            <p>It is suggested by the Dunbar Numeber (read above) that the most personal connections we can have is 150. </p>
        </li></ul>
      
      <p></p></li><li>The Ingredients of Friendship
        <ul>
          <li><a href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&biw=1440&bih=803&ei=J3T3Wt6gF4Kz0ASuhKPgCg&q=sympathy&oq=sympathy&gs_l=psy-ab.3..0i67k1l3j0l7.4685.6319.0.6701.8.7.0.1.1.0.140.831.0j7.7.0....0...1c.1.64.psy-ab..0.8.835....0.QU4iQTSUtQo">sympathy</a> | <a href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&biw=1440&bih=803&ei=ZnT3WtndEMjl0gTtj63gCQ&q=empathy&oq=empathy&gs_l=psy-ab.3..0i67k1l6j0l4.86418.91717.0.92015.27.21.4.2.2.0.149.2136.0j18.19.0....0...1c.1.64.psy-ab..3.23.2046.0..0i10k1.98.NhIX8pb7Mzc">empathy</a> | <a href="https://evolution-institute.org/how-and-why-do-we-pick-our-friends/">“similarity begets friendship”</a>
          </li><li><a href="https://en.wikipedia.org/wiki/Childhood">childhood</a> | <a href="https://www.google.co.kr/search?q=reciprocation&rlz=1C5CHFA_enKR768KR768&oq=reciprocation&aqs=chrome..69i57j69i59.3321j0j7&sourceid=chrome&ie=UTF-8">reciprocation</a> | <a href= "https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=bqr6WofPHoWz0ATco6P4DA&q=trust+definition&oq=trust+definition&gs_l=psy-ab.3..0i67k1j0l9.7671.8986.0.9335.11.8.0.3.3.0.119.785.7j1.8.0....0...1c.1.64.psy-ab..1.10.676...0i10k1.0.Ygqw-68ywCY">trust</a>
          </li><li><a href=""https://www.google.co.kr/search?q=proximity&rlz=1C5CHFA_enKR768KR768&oq=proximity&aqs=chrome..69i57.3601j0j7&sourceid=chrome&ie=UTF-8>proximity</a> | <a href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=6Kr6WpeNOcW80ATN0r7AAw&q=propinquity&oq=propinquity&gs_l=psy-ab.1.0.0l10.66657.66657.0.67798.1.1.0.0.0.0.99.99.1.1.0....0...1c.2.64.psy-ab..0.1.99....0.mizVlJvG2d4">propinquity</a> | <a href="http://www.jaceyverdicchio.com/3-conditions-for-friendship">“repeated, unplanned interactions”</a> 
        </li></ul>
      </li><li>Friendly Terms to Know
        <ul>
          <li><a href="https://www.google.co.kr/search?q=dependancy&rlz=1C5CHFA_enKR768KR768&oq=dependancy&aqs=chrome..69i57.5931j0j7&sourceid=chrome&ie=UTF-8">dependency</a> | <a href="https://en.wikipedia.org/wiki/Imaginary_friend">imaginary friend</a> | <a href="https://www.google.co.kr/search?q=bff&rlz=1C5CHFA_enKR768KR768&oq=bff&aqs=chrome..69i57.998j0j4&sourceid=chrome&ie=UTF-8">BFF</a>
          </li><li><a href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=JbT6WqLCO4bH0gSZyKvoBw&q=mutual+friend+definition&oq=mutual+friend+definition&gs_l=psy-ab.3..0l2j0i22i30k1l8.9345.14215.0.14416.23.19.4.0.0.0.265.1614.0j12j1.13.0....0...1c.1.64.psy-ab..6.17.1632...0i67k1j33i160k1j0i13i30k1j0i13i5i30k1j0i22i10i30k1j0i13k1.0.5TjndtDg-8U">mutual friend</a> | <a href="https://answers.yahoo.com/question/index?qid=20110509204802AAiFbTL&guccounter=1">bromance and womance</a><a href="https://www.google.co.kr/search?q=frenemy&rlz=1C5CHFA_enKR768KR768&oq=frenemy&aqs=chrome..69i57.1575j0j4&sourceid=chrome&ie=UTF-8"> | frenemy</a> 
          </li><li><a href="https://www.google.co.kr/search?q=critical+friend&rlz=1C5CHFA_enKR768KR768&oq=critical+friend&aqs=chrome..69i57.3777j0j7&sourceid=chrome&ie=UTF-8">critical friend</a> | <a href="https://en.wikipedia.org/wiki/Six_degrees_of_separation">Six Degrees of Separation</a> 
          </li><li><a href="https://www.google.co.kr/search?q=homosociality&rlz=1C5CHFA_enKR768KR768&oq=homosociality&aqs=chrome..69i57.2219j0j4&sourceid=chrome&ie=UTF-8">homosociality</a> | <a href="https://www.fullcontact.com/blog/maintaining-relationships/">Dunbar number</a> | <a href="https://en.wikipedia.org/wiki/Hedgehog%27s_dilemma"> hedgehog’s dilemma</a>
          </li></ul>
      </li><li>Unfriendly Terms to Know
        <ul>
          <li><a href="https://en.wikipedia.org/wiki/Language_barrier">language barrier</a> | <a target="_blank" href="https://en.wikipedia.org/wiki/Unemployment">unemployment</a> | <a target="_blank" href="unemployment">aging</a> | <a target="_blank" href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=7rn6WpjkBYv68QXP7IqwDQ&q=hermitage+definition&oq=hermitage+definition&gs_l=psy-ab.3..0i67k1j0i22i30k1l5j0i22i10i30k1j0i22i30k1j0i22i10i30k1j0i22i30k1.2995.4388.0.4567.11.10.0.0.0.0.174.872.0j7.7.0....0...1c.1.64.psy-ab..4.7.871...0.0.oRxsoEG8QeA">hermitage</a> | <a target="_blank" href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=87n6Wsv9NYaw8wWN1rWABw&q=lonliness&oq=lonliness&gs_l=psy-ab.3..0i10i67k1j0i10k1l4j0i10i67k1j0i10k1l4.74025.76054.0.76147.10.10.0.0.0.0.121.817.0j7.8.0....0...1c.1.64.psy-ab..2.7.813.0..0j46j0i46k1j0i67k1.109.auP3f2wU9kk"> loneliness</a>
          </li><li><a target="_blank" href="https://www.google.co.kr/search?q=passive+agressive&rlz=1C5CHFA_enKR768KR768&oq=passive+agressive&aqs=chrome..69i57.2670j0j4&sourceid=chrome&ie=UTF-8">passive-aggressive</a> | <a target="_blank" href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=U7z6WpL5CsTI0AT-xq7YDQ&q=avoidant+personality+disorder&oq=avoid&gs_l=psy-ab.3.0.0i67k1j0l9.91717.93631.0.94822.7.6.1.0.0.0.114.621.1j5.6.0....0...1c.1.64.psy-ab..0.7.623...0i10k1.0.NyTKShAFNGA">avoidant personality disorder</a> | <a target="_blank" href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=srz6Wpz0MoXO0gS94pHQBQ&q=agoriphobia&oq=agoriphobia&gs_l=psy-ab.3..0i10k1l10.123563.129555.0.129701.19.15.4.0.0.0.219.1553.0j9j1.10.0....0...1c.1.64.psy-ab..5.14.1569...0j46j0i67k1j0i46k1j0i13k1j0i13i46k1j46i13k1.0.urMEHQziUnQ">agoraphobia</a>
          </li><li><a target="_blank" href="https://en.wikipedia.org/wiki/Avolition">avolition</a><a target="blank_" href="https://en.wikipedia.org/wiki/Hikikomori">hikikomori</a> | <a target="_blank" href="http://time.com/4779713/friendship-ghosting/">ghosting</a> | <a target="_blank" href="https://www.google.co.kr/search?q=seenzoning&rlz=1C5CHFA_enKR768KR768&oq=seenzoning&aqs=chrome..69i57.2168j0j7&sourceid=chrome&ie=UTF-8">seenzoning</a> | <a target="_blank" href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=-r_6WsmPJsXM0gTKlo-YBQ&q=ostracization&oq=ostracia&gs_l=psy-ab.1.0.0i10k1l10.2907.5695.0.7790.12.10.2.0.0.0.126.1060.0j9.9.0....0...1c.1.64.psy-ab..1.11.1065...0.0.2pPKAT9ZZi0"> ostracization</a>
          </li><li><a target="_blank" href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=0m37Ws7yCIm50gS9_42IDg&q=stigmatization+fefinition&oq=stigmatization+fefinition&gs_l=psy-ab.3..0i13k1l5j0i13i30k1l3j0i13i5i30k1l2.8635.10821.0.11008.11.11.0.0.0.0.163.1234.4j7.11.0....0...1c.1.64.psy-ab..0.11.1229...0j0i67k1j0i22i30k1j33i160k1j0i8i13i30k1.0.1zxIm_rABpw">stigmatization</a> | <a target="_blank" href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=A8D6WvazC4Gf0gTmwYGoAQ&q=betrayel&oq=betrayel&gs_l=psy-ab.3..0i10k1l10.44646040.44647229.0.44647468.8.7.0.1.1.0.110.704.4j3.7.0....0...1c.1.64.psy-ab..0.8.705...0j0i67k1.0.DFpfI0dUp5s" >betrayal</a> | <a target="_blank" href="https://en.wikipedia.org/wiki/It%27s_not_you,_it%27s_me">“it’s not you, it’s me”</a> | <a target="_blank" href="https://www.google.co.kr/search?q=introverted+vs+antisocial&rlz=1C5CHFA_enKR768KR768&oq=introverted+vs+antisocial&aqs=chrome..69i57.5608j0j7&sourceid=chrome&ie=UTF-8">introverted vs antisocial</a>
      </li></ul></ul>
      
      <a name="h4-were-a-happy-family-and-kinship"></a><h4>We’re a Happy… | Family and Kinship</h4>
      
      <ul><ul>
      <li>Family Ties
        <ul>
          <li>What is unique to your family relationships—or are there some things you would never do with your family?
            <p>Sometimes family relationships are described as the closest relationships in our lives.  Therefore a family relationship is often characterized as one of forgivness and understanding.</p>
          </li><li>What would your life be like if you grew up in a differently structured family?
            <p>This is a personal questions. Although you can imagine the answer is about support and responsibility.  The closer you are to your family the more you will have of both.</p>
          </li><li>Biologically, your family is the people who are genetically closest to you. Socially, how and why might this definition be different?
            <p>Although you will always be gnetically close to your family, you can grow apart from them socially.  Some cultures supoort closer social ties to family than others.</p>
        </li></ul>
      
      <p></p></li><li>Types of Family and Kinship
        <ul>
          <li><a taraget="_blank" href="https://en.wikipedia.org/wiki/Nuclear_family">nuclear</a><a target="blank_" href="https://en.wikipedia.org/wiki/Single_parent">single parent</a> | <a target="_blank" href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=3pn7WuvYI43y8AW3yKCoCA&q=childless+definition&oq=childless+definti&gs_l=psy-ab.3.0.0i10k1.4058.5028.0.6602.7.7.0.0.0.0.128.603.0j5.5.0....0...1c.1.64.psy-ab..2.5.601...0j0i22i30k1j0i22i10i30k1.0.Raf0M66Q3QE">childless </a> | <a target="_blank" href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=5pn7WuCIAcy58QXPjZ-4DQ&q=adoptive+definition&oq=adoptive+definition&gs_l=psy-ab.3..0i7i30k1l10.69380.71166.0.71720.10.10.0.0.0.0.146.1169.0j10.10.0....0...1c.1.64.psy-ab..0.10.1168...0i67k1j0i7i10i30k1.0.Bv98eUTcGs4"> adoptive</a> 
          </li><li><a target="_blank" href="https://www.google.co.kr/search?q=extended+family&rlz=1C5CHFA_enKR768KR768&oq=extended+family&aqs=chrome..69i57.7632j0j7&sourceid=chrome&ie=UTF-8">extended</a><a target="_blank" href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=Lpr7WobAL8mo8QXagrGIDQ&q=beanpole+family&oq=beanpole+family&gs_l=psy-ab.3..0j0i67k1j0l2j0i67k1j0l5.239931.243921.0.244263.15.8.0.7.7.0.130.733.0j6.6.0....0...1c.1.64.psy-ab..2.13.753...46j0i46k1.0.ws6RTzq0DBY">beanpole</a> | <a target="_blank" href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=I5v7WpTOOYOo0gTr-7WICg&q=reconsituted+family&oq=reconsituted+family&gs_l=psy-ab.3..0i10k1l10.84944.89604.0.89821.19.18.0.0.0.0.247.1824.0j9j2.11.0....0...1c.1.64.psy-ab..8.11.1822...0j46j0i46k1.0.JtqPVdgMU3I">reconstituted</a> | <a target="_blank" href=https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=tZv7WsuzKYSz0gT61ajQDQ&q=clan+definition&oq=clan+definition&gs_l=psy-ab.3..0l7.5747.7641.0.7865.11.11.0.0.0.0.128.1072.3j7.10.0....0...1c.1.64.psy-ab..1.10.1069...0i67k1.0.QK-2klQpug8""> clan</a>
          </li><li><a target="_blank" href="https://www.psychologytoday.com/us/blog/stronger-the-broken-places/201711/family-choice">family of choice</a><a target="_blank" href="https://www.google.co.kr/search?q=surregacy&rlz=1C5CHFA_enKR768KR768&oq=surregacy&aqs=chrome..69i57.2365j0j7&sourceid=chrome&ie=UTF-8">surrogacy</a> | <a target="_blank" href="https://en.wikipedia.org/wiki/Milk_kinship"> milk kinship</a> 
          </li><li><a target="_blank" href="https://www.google.co.kr/search?q=grandparents&rlz=1C5CHFA_enKR768KR768&oq=grandparents&aqs=chrome..69i57.3291j0j7&sourceid=chrome&ie=UTF-8"><grandparents/a><a target="_blank" href="https://www.google.co.kr/search?q=blended+family&rlz=1C5CHFA_enKR768KR768&oq=blended+family&aqs=chrome..69i57.8547j0j7&sourceid=chrome&ie=UTF-8">blended</a> | <a target="_blank" href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=Kdz7WovBHYKU8wWxq73YDw&q=dysfunctional+family+definition&oq=dysfunctional+family+defi&gs_l=psy-ab.3.0.0l4j0i22i30k1l5.10428.11486.0.12834.5.5.0.0.0.0.268.697.2-3.3.0....0...1c.1.64.psy-ab..2.3.696...0i22i10i30k1.0.j7U2Be1jUL0"> dysfunctional</a>
        </li></ul>
      </li><li>Additional Terms to Know
        <ul>
          <li><a target="_blank" href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=T9v7Woa5KMKm8AXB0L3IAQ&q=abcx+model+definition&oq=abcx+model&gs_l=psy-ab.3.1.0l10.368427.371713.0.374791.11.11.0.0.0.0.439.1323.0j2j2j0j1.6.0....0...1c.1.64.psy-ab..5.5.1321.0..46j0i46k1j0i46i67k1j46i67k1j0i10k1j0i10i46k1j46i10k1.580.UjGLY_W8NKw">ABCX Model</a><a></a> | family systems theory | family resilience
          </li><li><a target="_blank" href="https://www.google.co.kr/search?q=attachment+theory&rlz=1C5CHFA_enKR768KR768&oq=attachment+theory&aqs=chrome..69i57.3209j0j7&sourceid=chrome&ie=UTF-8">attachment theory</a> | <a target="_blank" href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=HKD-WqfnOoHj0ASd35vIDQ&q=only+child+definition&oq=only+child+definition&gs_l=psy-ab.3.0.0j0i22i30k1l3.3015.4342.0.6544.11.11.0.0.0.0.171.955.0j8.8.0....0...1c.1.64.psy-ab..3.8.955...0i67k1.0.f3WXUx35nwQ">only child</a> | <a target="_blank" href="https://www.verywellfamily.com/types-of-parenting-styles-1095045"> parenting styles</a> 
          </li><li><a target="_blank" href="https://en.wikipedia.org/wiki/Consanguinity">consanguinity</a><a target="_blank" href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=FKP-Wo2jL8aL8wWnuLYw&q=family+tree+definition&oq=family+tree+definition&gs_l=psy-ab.3..0l4j0i22i30k1l6.8623.13365.0.13591.13.11.2.0.0.0.169.979.0j8.8.0....0...1c.1.64.psy-ab..3.10.986...0i67k1.0.duIqK2O-4B0">family tree</a> | <a target="_blank" href="https://www.google.co.kr/search?q=genealogy&rlz=1C5CHFA_enKR768KR768&oq=genealogy&aqs=chrome..69i57.1974j0j7&sourceid=chrome&ie=UTF-8"> genealogy</a>
        </li></ul>
      </li></ul></ul>
      
      <a name="h4-wherefore-art-thou-romantic-entanglements"> </a><h4>Wherefore Art Thou? | Romantic Entanglements</h4>
      
      <ul><ul>
      <li>Essential Questions
        <ul>
          <li>Is “romantic love” a modern concept? When did it first come about?
            <p>It's a modern (900 years old) western idea, not something biological, but it appears to connect with something deep in our psyche. This
                is both a new and old idea depending on how you look at it.<a target="_blank" href="https://chivalrytoday.com/joseph-campbell-chivalry/"> Joseph 
                    Campbell</a> has done some incredible work in this vein, showing that the 
               rise of a notion of modern, romantic love only came about in the 12th 
               century (in Western cultures).</p>
          </li><li>How are dating and courtship viewed in different cultures?
            <p>In Iran dating is illegal.  In many Asian countries chlildren live with their parnets until they are married.  In Europe dating is a group activity until 18 or 19.  There many differen types of <a target="_blank" href="http://www.healthguidance.org/entry/15127/1/dating-customs-around-the-world.html">courtship across cultures.</a></p>
          </li><li>Why are more people than ever before choosing not to marry?
            <p>The range of culprits is quite large. Some blame widening U.S. income and wealth inequality. Others point the finger at the fall in religious adherence or cite the increase in education and income of women, making women choosier about whom to marry. Still others focus on rising student debt and rising housing costs, forcing people to put off marriage. Finally some believe marriage is simply an old, outdated tradition that is no longer necessary. But given that this is a trend happening across the globe in a wide variety of countries with very different income, religious adherence, education and social factors, it’s hard to pin the blame on just a single culprit.</p>
          </li><li>Should marriage be treated as a contractual arrangement?
            <p>Marriage can be a merger or mixing of <a target="_blank" href=https://www.elitedaily.com/dating/contract-4-reasons-look-marriage-like-business-deal/980978"">money/assets and values</a>.  It should be disucssed and negotiated just as any business deal to make sure both people are in agreement.
            </p>
          </li><li>What is the science behind love--can love be seen as a chemical reaction or neurological phenomenon?
            <p></p>
        </li></ul>
      
      <p></p></li><li>Terms to Know
        <ul>
          <li><ak translate="_blank" href="https://www.google.co.kr/search?q=infatuation&rlz=1C5CHFA_enKR768KR768&oq=infatuation&aqs=chrome..69i57.1790j0j7&sourceid=chrome&ie=UTF-8">infatuation</a> | <a target="_blank" href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=5bv8Wrf6KoTT0ATim6lY&q=puppy+love+definition&oq=puppy+love+definition&gs_l=psy-ab.3..0i7i30k1j0l2j0i8i30k1.9393.10916.0.11192.5.5.0.0.0.0.110.530.0j5.5.0....0...1c.1.64.psy-ab..0.5.529...0i8i7i30k1.0.lelnrRxeccs">puppy love</a> | <a target="_blank" href="https://www.google.co.kr/search?q=love+hate+definition&rlz=1C5CHFA_enKR768KR768&oq=love+hate+definition&aqs=chrome..69i57.2905j0j7&sourceid=chrome&ie=UTF-8">love-hate</a> | <a target="_blank" href="https://www.google.co.kr/search?safe=strict&rlz=1C5CHFA_enKR768KR768&ei=8bv8WvC-JIjo0ATT4JuIDQ&q=friend+zone&oq=friend+zone&gs_l=psy-ab.3..0l10.344292.346072.0.346340.11.7.0.4.4.0.106.692.4j3.7.0....0...1c.1.64.psy-ab..0.11.704...0i67k1j0i10i67k1.0.x--CNQE2Tok">friendzone</a>
          </li><li>limerence | free love | sublimation | crystallization
          </li><li><a target="_blank" href="https://totescute.com/four-types-of-love-greek-style/">philia, storge, agape, and eros</a><a></a> | unrequited love | PDA
          </li><li>love triangle | breakup | long-distance | proposal
          </li><li>oxytocin | phenylethylamine | norepinephrine
        </li></ul>
      </li><li>A Deeper Look at Marriage
        <ul>
          <li>bridewealth | wedding | dowry | concubinage | polygamy | monogamy
          </li><li>arranged marriage | cohabitation | alimony | living apart together
          </li><li>ghost marriage | sheng nu | nikah mut’ah | ketubah | levirate
          </li><li>civil union | no-fault divorce | annulment | green card marriage
        </li></ul>
      </li></ul></ul>
      
      <a name="h4-friending-is-a-verb-digital-connections"> </a><h4>Friending is a Verb | Digital Connections</h4>
      
      <ul><ul>
      <li>Essential Questions
        <ul>
          <li>How has social media influenced your relationships?
          </li><li>Does social media affect the way you perceive other people?
          </li><li>What would your life be like without social media?
          </li><li>Do people relate differently when they are anonymous online than when they use their real names?
          </li><li>How does the medium in which we communicate affect what we’re saying? Can you communicate something on Snapchat that you can’t on, say, WhatsApp - and why would you choose one medium over another?
        </li></ul>
      
      <p></p></li><li>Notable Social Media (Examples)
        <ul>
          <li>As you explore each medium, consider its impact on human relationships. How does it bring people together? What are its limitations? What assumptions does it make or encourage?
          </li><li>Interacting
            <ul>
              <li>Email and Letter-Writing
              </li><li><a>Facebook</a>Facebook | Twitter | MySpace | Viber | Tinder
              </li><li>Discord | Whatsapp | WeChat | Vkontakte
            </li></ul>
          </li><li>Sharing
            <ul>
              <li>Snapchat | Instagram | Reddit | LinkedIn
              </li><li>Line | Kakaotalk | Behance | Pinterest
              </li><li>Tumblr | StumbleUpon
            </li></ul>
        </li></ul>
      </li><li>Modern Exchange and Interaction
        <ul>
          <li>parasocial interaction | obsession | Internet relationship
          </li><li>uses and gratification theory | celebrity worship | virality
          </li><li>misrepresentation | cyberstalking | cyberasociality
          </li><li>synchronization | pseudocommunity | Media Equation
        </li></ul>
      </li><li>Connections of the Future
        <ul>
          <li>quantum communication | hologram | ansible
          </li><li>augmented reality | virtual reality | smart machines
          </li><li>voice-enabled technologies | artificial intelligence
        </li></ul>
      </li></ul></ul>
      
      <a name="h4-over-sideways-and-under-relationships-around-boundaries"> </a><h4>Over Sideways and Under | Relationships Around Boundaries</h4>
      
      <ul><ul>
      <li>Essential Questions
        <ul>
          <li>Some communities create boundaries between themselves and the rest of the world; does living within such boundaries affect how relationships form?
          </li><li>Other communities are organized with internal boundaries, whether hallways in a dormitory or castes in a society. How do relationships form within and across such boundaries?
          </li><li>When two very different communities are forced to interact, how do the people within them relate? Do they become more alike or more different? What might lead to one outcome or the other?
        </li></ul>
      
      <p></p></li><li>Key Social Structures to Explore (examples)
        <ul>
          <li>intentional community | multigenerational living
          </li><li>commune | kibbutz | ashram | ecovillage | cohousing
          </li><li>micronation | Levittown | hostel | dormitory | ghetto
          </li><li>gangs | fraternities | sororities | societies
        </li></ul>
      </li><li>Additional Terms to Learn
        <ul>
          <li>border towns | “Chinatowns” | enclaves and exclaves
          </li><li>mutual society | culture shock | assimilation | adaptation
          </li><li>acculturation | biculturalism | hybridity | xenophobia
        </li></ul>
      </li></ul></ul>
      
      <a name="h4-questions-for-further-discussion"> </a><h4>Questions for Further Discussion</h4>
      
      <ul><ul>
      <li>Consider the <a href="https://romneymanassa.wordpress.com/2014/05/19/the-first-handshake/">Monument of Kalhu</a>, believed to be the oldest-surviving record of a handshake, then discuss with your team: why are handshakes as universal a gesture as they are? (And are they as universal as people think?) What are alternatives to handshakes within and across different cultures?
      </li><li>This <a href="http://time.com/3265733/nuclear-family-typical-society-parents-children-households-philip-cohen/">linked TIME article</a> discusses the changing American family, but industrialization (and technologization) is changing families around the world. What does your family look like? Have families changed since your parents were children? Your grandparents?
      
      </li><li>Compare these two isolated societies—<a href="http://www.independent.co.uk/news/world/asia/sentinelese-tribe-north-sentinel-island-bay-of-bengal-india-andeman-video-footage-uncontacted-a7663996.html">one that still resists contact</a>, and <a href="https://pib.socioambiental.org/en/povo/bororo/241">one that tried to</a>, but failed. Would it be in the best interests of such societies to reach out, and should we try to contact them? How would it affect them if they integrated into a globalized environment?
      </li><li>Research <a href="https://www.newyorker.com/culture/photo-booth/invisible-bridges-life-along-the-chinese-russian-border">border towns</a> around the world - such as Heihe and Blagoveshchensk, El Paso and Juarez, and Shenzhen and Hong Kong - and discuss with your team: do these communities benefit from their entanglements? How notably are their cultures impacted? Should governments do more to open cities to their cross-border counterparts?
      </li><li>What are some of the psychological reasons that we interact with other people the way we do? Consider the <a href="https://masscommtheory.com/theory-overviews/spiral-of-silence/">spiral of silence theory</a>. Have you ever refrained from voicing your opinion for fear of negative consequences? In hindsight, would it have been better if you had spoken up?
      </li><li>Look into the Five Bonds of Confucianism, then discuss with your team: how well do they describe relationships in today's world, and should we try to follow them in our own lives? If you had to list the bonds you believe apply most to modern society, what would they be, and how much would they vary from culture to culture or place to place?
      </li><li>Consider <a href="https://www.theatlantic.com/entertainment/archive/2012/07/real-trouble-making-friends-middle-age/325837/">this article</a>, then discuss with your team: in your experience, does the process of making friends actually differ as you age? Should we create more situations in which it is easier for older people to make friends?
      </li><li><a href="http://time.com/5028171/health-benefits-owning-dog/">Studies suggest</a> that people with pets (in this case, dogs) live longer. Discuss with your team: is it possible for animals to substitute for humans in terms of companionship and friendship? Do humans ultimately need to lead lives entangled with those of others in order to be their healthiest, happiest selves?
      </li><li>In some societies, human relationships are organized by formal or informal <a href="http://www.bbc.com/news/world-asia-india-35650616">caste systems</a>; the linked article suggests that such a caste system continues to impact society in the world's largest democracy, India. Discuss with your team: do you recognize any "caste systems" in your own lives, offline or online? And, are they necessarily a bad thing?
      </li><li>Why is the exchange of rings linked to marriage in so much of the world – and are there any widespread alternatives?
      </li><li>Furby, Paro, even (someday) BB8: is it possible (and/or desirable) for people to have human-like relationships with <a href="http://www.bbc.com/news/technology-24949081">artificial friends</a>?
      </li><li>In China, millions of people <a href="https://a16z.com/2015/08/06/wechat-china-mobile-first/">talk, shop, and work through the service Wechat</a>, which enables its users to conduct <a href="https://www.economist.com/news/business/21703428-chinas-wechat-shows-way-social-medias-future-wechats-world">nearly all the business of their daily lives</a>. What aspects of a culture might make it more feasible to implement such a service? Are there any drawbacks to conducting your life through a single platform? Why has WeChat had trouble expanding into new markets?
      </li><li>Hey, Siri! <a href="http://www.zdnet.com/article/siri-cortana-alexa-and-google-assistant-are-just-the-beginning-voice-is-the-future/">Voice-enabled technologies</a> allow us to effectively have conversations with robots. How do they differ from, and affect, those with flesh-and-blood people?
      </li><li>That filter on your selfie, that Photoshopped landscape—some consider the way we portray ourselves on social media to be deceptive, or to amount to a <a href="https://nypost.com/2015/10/11/our-double-lives-dark-realities-behind-perfect-online-profiles/">double life</a>. Discuss with your team: should people be more authentic on the Internet, and are there social benefits to altering reality?
      </li><li>Do you agree with MIT professor Sherry Turkle (in this <a href="http://niemanreports.org/articles/digital-demands-the-challenges-of-constant-connectivity/">slightly dated interview</a>) that social media offers the "illusion of companionship without the demands of friendship"? Discuss with your team: what, if any, *are* the demands of friendship, and do they vary online?
      </li><li>Look into the case of this <a href="http://archive.boston.com/business/technology/articles/2011/08/22/wormhole_links_mit_and_stanford/">wormhole</a> connecting students at Stanford and MIT. How does the wormhole try to emulate aspects of real-life friendship formation?
      </li><li>Consider <a href="https://web.stanford.edu/group/cslipublications/cslipublications/site/1575860538.shtml">the theory</a> (most associated with Stanford professor Clifford Nass) that humans relate to computers as if they, too, were human. Discuss with your team: have you found this theory (the so-called "Media Equation") to be true in your own lives? What are the implications for the design of computers and other gadgets, if so?
      </li><li>Much of this outline has focused on friendship, but we should take some time to study a very different sort of human relationship: that of enemies. Consider <a href="http://www.apa.org/monitor/jun05/perceptions.aspx">this article</a>, then discuss with your team: do you have any enemies? Does your family? What causes people to become enemies, and is the process reversible? Or, is the whole concept of enemies more applicable to fiction than to real life?
      </li></ul></ul>
      
      <p></p>
      
            </div>
      
            <div class="span3 sidebar materials">
            
            </div>
          </div>
        </div>
      </div>